@font-face {
        font-family: "Lato";
        src: url(../fonts/Lato-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}
body {
  margin: 0;
}
.gpd-navbar{
  width:100%;
}
.gpd-navbar__menu{
  display:none;
}
.gpd-navbar__item{
  flex:0 1 auto;
}
.gpd-navbar__item-link{
  color:inherit;
  text-decoration:none;
}
#i14r{
  padding:0;
}
#inicio{
  justify-content:space-between;
  align-items:center;
  min-height:auto;
}
#i1ox{
  flex:0 1 auto;
}
#iyap8{
  flex:0 1 auto;
}
#in99x{
  width:35px;
  height:35px;
  cursor:pointer;
}
#ipnmk{
  flex:0 1 auto;
  font-family:Arial, Helvetica, sans-serif;
}
#iuhhz{
  align-items:center;
  min-height:auto;
  font-family:Lato, sans-serif;
}
#i967g{
  text-align:center;
  font-size:62px;
  font-family:Lato, sans-serif;
  margin:1% 0 2% 0;
}
body{
  font-family:Lato, sans-serif;
  background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('../img/asuncion_bahia_horiz.jpg');
  background-repeat:repeat, no-repeat;
  background-position:left top, center top;
  background-attachment:scroll, scroll;
  background-size:auto, contain;
}
#id0nj{
  color:black;
}
#i97zy{
  font-family:Lato, sans-serif;
}
#ikr3j{
  text-align:center;
}
#iap0v{
  color:black;
  width:410.6px;
}
#il1ff{
  font-family:Lato, sans-serif;
}
#contenedorcarteleria{
  background-color:rgb(0,0,0,0);
  font-family:Lato, sans-serif;
}
#headerbox{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
}
#headerlogo{
  max-width:50%;
}
#iv3b2{
  color:#000000;
}
#ikxci{
  margin:0 20px 0 0;
  font-weight:600;
}
#que-es-texto{
  padding:0 0 0 0;
  font-size:1.2em;
  text-align:center;
}
#i4fvx{
  background-color:#A4B494;
  color:#ffffff;
  font-size:1.2em;
  text-align:center;
}
#i72vs{
  background-color:rgba(0,0,0,0);
}
#ig3okr{
  background-image:linear-gradient(rgba(255,255,255,0.72),rgba(255,255,255,0.72)), url('../img/uh_sudameris.jpg');
  background-repeat:repeat, no-repeat;
  background-position:left top, center center;
  background-attachment:scroll, fixed;
  background-size:auto, cover;
  padding:5% 0 5% 0;
  min-height:60vh;
  font-size:1em;
}
#contacto{
  text-align:center;
  background-color:#F7F4F2;
  margin:0 25% 0 25%;
  font-family:Lato, sans-serif;
  padding:2% 0 3% 0;
}
#i51e3f{
  height:3px;
  margin:10px 10px 10px 10px;
}
#ia428u{
  background-color:#A4B494;
  color:#ffffff;
}
#ix1qk{
  margin:0 20px 0 0;
}
#i91sl-2{
  display:inline-block;
  min-width:50px;
  padding:0 0 0 0;
  min-height:50px;
}
#io3eq-2{
  margin:0  0 0;
  color:#ffffff;
  width:60px;
  height:60px;
}
#i4fgn-2{
  display:inline-block;
  min-width:50px;
  padding:0 0 0 0;
  min-height:50px;
}
#iud9y-2{
  margin:0  0 0;
  color:#ffffff;
  width:60px;
  height:60px;
}
#i8bfk-2{
  display:inline-block;
  min-width:50px;
  padding:0 0 0 0;
  min-height:50px;
}
#iozha-2{
  color:#ffffff;
  width:60px;
  height:60px;
}
.gpd-cnt{
  padding:0;
}
.gpd-clm{
  padding:5px 0;
}
.gpd-grid{
  min-height:auto;
  padding:10px 0;
}
.gpd-header{
  margin:0;
}
.gpd-divider{
  height:3px;
  margin:10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.05);
}
#i272qk{
  text-align:center;
  margin:0 0 0 0;
  font-size:1.2em;
  font-weight:600;
  padding:0 30% 0 30%;
}
.gpd-box{
  padding:5px 0;
}
#i0b31k{
  font-size:1.2em;
  text-align:center;
  padding:10px 5% 10px 5%;
}
#iot20j{
  text-align:center;
  margin:0 0 3% 0;
}
#iq4iql{
  margin:0 0 0 0;
  padding:0 10% 0 10%;
}
#iuubxm{
  font-size:1.2em;
  text-align:center;
  padding:10px 5% 10px 5%;
}
#igoip8{
  font-size:1.2em;
  text-align:center;
  padding:10px 5% 10px 5%;
}
#icwce9{
  background-image:url('../img/fotociclo_sudameris.png');
  background-size:cover;
  background-position:center center;
  background-attachment:scroll;
  background-repeat:no-repeat;
  height:1040px;
  margin:5% 0 0 0;
}
#i0g75m{
  margin:0 35% 0 35%;
  padding:2% 0 0 0;
  font-size:1em;
  text-align:center;
}
#i7i7qp{
  background-color:#f7f4f2;
}
#iy2k1h{
  padding:10px 5% 10px 5%;
  text-align:center;
  margin:3% 0 3% 0;
  font-size:1.2em;
}
#ihvhdf{
  background-image:url('../img/uh_sudameris.jpg');
  background-size:cover;
  background-position:center center;
  background-attachment:scroll;
  background-repeat:no-repeat;
  height:652px;
}
#izmxhl{
  font-size:0.7em;
  font-weight:600;
}
#datoscarteleria{
  background-image:linear-gradient(rgba(255,255,255,0.54),rgba(255,255,255,0.54)), url('../img/fotociclo_sudameris.png');
  background-repeat:repeat, no-repeat;
  background-position:left top, center center;
  background-attachment:scroll, fixed;
  background-size:auto, cover;
}
#iemo4{
  animation-duration:1s;
}
#i1abm{
  animation-delay:1s;
  animation-duration:2s;
}
#icr2u{
  animation-delay:2s;
}
#i7nwcm{
  font-size:1.8em;
}
#ioxw0o{
  font-size:1.8em;
  text-align:center;
}
#ilpdmd{
  font-size:1.8em;
}
#iewwh{
  text-align:center;
  font-size:2em;
  margin:0 0 3% 0;
}
#iweaa7{
  margin:0 5% 0 5%;
}
#itg1fr{
  font-size:1.4em;
  text-align:center;
}
#i5zbhg{
  font-size:1.4em;
  text-align:center;
}
#iyn62g{
  color:#000000;
  font-weight:600;
}
#iou7hj{
  font-size:1.4em;
  text-align:center;
  padding:10px 10% 10px 10%;
}
.accordion-css{
  padding:5px;
}
.accordion-css__trigger{
  display:block;
  padding:5px;
  cursor:pointer;
}
.accordion-css__body{
  max-height:0;
  overflow:hidden;
  transition:max-height 0.35s;
}
.accordion-css__input, [data-accordion-css-input]{
  display:none;
}
.accordion-css__body--open, [data-accordion-css-input]:checked ~ [data-accordion-css-body]{
  max-height:100vh;
}
#iwfuuh{
  margin:0 4% 0 4%;
  font-size:1em;
  padding:0 0 0 0;
  white-space:normal;
}
#ib8nix{
  text-align:center;
  padding:0 0 3% 0;
}
#iz3pwc{
  padding:5px 40% 0 40%;
  text-align:center;
}
#i62ajx{
  padding:10px 10% 10px 10%;
}
#ih0jun{
  padding:0 0 0 0;
  margin:0 4% 0 4%;
  font-size:1em;
}
#iaim1i{
  margin:2% 0 5% 0;
}
#igwo76{
  font-size:1.4em;
  padding:10px 5% 10px 5%;
}
#i32qaj{
  padding:4% 0 1% 0;
}
#icllsa{
  margin:5% 0 0 0;
  text-align:center;
}
#i6hllm{
  color:black;
  height:244.733px;
}
#i6bcmv{
  color:#000000;
}
#que-es{
  background-color:#F7F4F2;
  padding:3% 0 3% 0;
}
#i9567s{
  color:rgba(255,255,255,0.9);
  padding:0 0 0 0;
  text-align:center;
  width:100%;
}
#ieftjl{
  color:black;
}
#ibwhxt{
  font-size:0.7em;
  font-weight:600;
}
#il8ptj{
  font-size:0.7em;
  font-weight:600;
}
#ikhitv{
  padding:2% 0 2% 0;
}
#ism4nd{
  margin:0 5% 0 5%;
  padding:10px 5% 10px 5%;
  font-size:2em;
  width:100%;
}
#i0m0qx{
  padding:2% 0 4% 0;
}
#i2e3w{
  padding:3% 15% 3% 15%;
  width:100%;
  max-width:100%;
}
#iw1897{
  padding:0 0 0 0;
  text-align:center;
  max-width:100%;
  width:100%;
}
#idyzdo{
  background-color:#000000;
  padding:5% 0 0 0;
  justify-content:flex-start;
}
#ih7bvo{
  padding:5px 0 5px 30%;
}
#iegqdj{
  padding:5px 30% 5px 0;
}
#imdd59{
  background-color:rgba(0,0,0,0);
  color:999999;
  width:30px;
  height:30px;
}
#isu8kg{
  background-color:#000000;
  width:100%;
  padding:0 0 2% 95%;
}
@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@media (max-width: 768px){
  .gpd-navbar__menu{
    display:block;
  }
  .gpd-navbar__items{
    display:none;
    width:100%;
  }
  .gpd-navbar__item{
    flex:1 1 100%;
  }
  .gpd-navbar__items-grid{
    flex-wrap:wrap;
  }
  .gpd-navbar__item-link{
    width:100%;
  }
  #i4fvx{
    font-size:large;
  }
  #contacto{
    margin:0 auto 0 auto;
  }
  #in99x{
    color:#212529;
  }
  #ihvhdf{
    height:415px;
    background-image:url('../img/uh_sudameris.jpg');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
  }
  #icwce9{
    background-image:url('../img/fotociclo_sudameris.png');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
    height:630px;
  }
  #il8ptj{
    font-size:0.6em;
  }
  #datoscarteleria{
    background-image:linear-gradient(rgba(255,255,255,0.54),rgba(255,255,255,0.54)), url('../img/fotociclo_sudameris.png');
    background-repeat:repeat, repeat;
    background-position:left top, left top;
    background-attachment:scroll, fixed;
    background-size:auto, auto;
  }
  #iap0v{
    width:614px;
    height:460px;
  }
  #i272qk{
    padding:0 20% 0 20%;
  }
  #ibrw1v{
    padding:3% 0 3% 0;
  }
  #il1ff{
    padding:0 0 0 0;
  }
  #ikr3j{
    padding:5% 5% 5% 5%;
  }
  #i8qzk{
    padding:0 0 0 0;
  }
  #i97zy{
    padding:0 0 0 0;
  }
  #i9567s{
    padding:0 20px 0 0;
    width:100%;
  }
  #i2e3w{
    width:100%;
  }
  #islkhp{
    padding:0 5px 5px 5px;
  }
}
@media (max-width: 415px){
  #icwce9{
    height:350px;
    margin:5% 0 0 0;
  }
  #i4fvx{
    padding:10px 5% 10px 5%;
    margin:0 0 5% 0;
  }
  #i0g75m{
    margin:0 5% 0 5%;
  }
  #datoscarteleria{
    padding:5% 0 2% 0;
  }
  body{
    background-image:linear-gradient(rgba(255,255,255,0.69),rgba(255,255,255,0.69)), url('../img/asuncion_bahia.jpg');
    background-repeat:repeat, no-repeat;
    background-position:left top, center top;
    background-attachment:scroll, scroll;
    background-size:auto, auto;
  }
  #i62ajx{
    padding:10px 2% 10px 2%;
    text-align:center;
  }
  #igwo76{
    margin:0 3% 0 3%;
  }
  #iwfuuh{
    margin:0 0 0 0;
  }
  #iou7hj{
    padding:2% 0 2% 0;
  }
  #iv3iau{
    padding:0 0 0 0;
  }
  #i6hllm{
    height:242.733px;
  }
  #iap0v{
    height:213px;
  }
  #contacto{
    padding:5% 0 8% 0;
  }
  #i2e3w{
    padding:3% 0 5% 20%;
    max-width:100%;
    width:100%;
  }
}

.galeria {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}
